.searchResultMedia
    width: 320px
    height: 180px
    
.searchResultCard
    width: 320px
    
@media screen and (max-width: 320px) 
    .searchResultMedia
        width: calc(320px * 0.8)
        height: calc(180px * 0.8)
    .searchResultCard
        width: calc(320px * 0.8)
 