$defaultWidth: 320px
$defaultHeight: 420px
$defaultMediaHeight: 180px
$ratio: 0.8
$oneColumnListBreakPoint: 591px
$resultsContainerBreakPoint: 623px

.searchResultMedia
    width: $defaultWidth
    height: $defaultMediaHeight
    
.searchResultCardWrapper
    height: 430px
    width: $defaultWidth
    
.searchResultCardInner, .searchResultCard
    height: $defaultHeight * 0.95
    width: $defaultWidth * 0.95

.searchResultCardInner
    height: 422px
    display: flex
    flex-direction: column

.searchResultCardInnerButton
    flex-direction: column

#SearchResultPanel
    height: 100%
    padding: 16px
    
#SearchWord
    padding: 20px 5px 30px 5px

.addToPlaylistContainer
    margin-top: auto
    .addToPlaylist
        align-self: flex-end
    
#resultsContainer
    margin: 0 

.cardHeading
    width: 100%

@media screen and (max-width: $defaultWidth) 
    .searchResultMedia
        width: calc($defaultWidth * $ratio)
        height: calc($defaultMediaHeight * $ratio)
    .searchResultCard
        width: calc($defaultWidth * $ratio)
 
@media screen and (max-width: $oneColumnListBreakPoint)
 .searchResultCardWrapper
     width: auto
     
@media screen and (max-width: $resultsContainerBreakPoint)
  #resultsContainer 
      margin: -8px
      
