$defaultWidth: 320px
$defaultHeight: 420px
$defaultMediaHeight: 180px
$ratio: 0.8
$oneColumnListBreakPoint: 591px

.searchResultMedia
    width: $defaultWidth
    height: $defaultMediaHeight
    
.searchResultCardWrapper
    height: $defaultHeight
    width: $defaultWidth
    
.searchResultCardInner, .searchResultCard
    height: $defaultHeight * 0.95
    width: $defaultWidth * 0.95

#SearchResultPanel
    height: 100%
    padding: 16px
    
#SearchWord
    padding: 20px 5px 30px 5px
    
.addToPlaylist
    position: absolute !important
    right: 0
    bottom: 0

@media screen and (max-width: $defaultWidth) 
    .searchResultMedia
        width: calc($defaultWidth * $ratio)
        height: calc($defaultMediaHeight * $ratio)
    .searchResultCard
        width: calc($defaultWidth * $ratio)
 
@media screen and (max-width: $oneColumnListBreakPoint)
 .searchResultCardWrapper
     width: auto
     
