$widthBreakPoint: 749px

.comfort-grid
    width: 70%
    height: auto
    padding: 0 20px 0 20px

@media screen and (max-width: $widthBreakPoint)
    .comfort-grid
        width: 100%
        
.padBottom
    padding-bottom: 40px
    
.progress-bar
    height: 3px !important
    position: fixed !important
    top: 0
    width: 100%
    left: 0
    z-index: 9999
    overflow: hidden
    
.home
    align-items: center !important
    flex-direction: column