$playlistBreakpoint: 1000px

.comfort-grid
    padding: 0 0 50px 0
    #video-paper
        padding: 20px
        height: 100%
        display: flex
        #video-wrapper
            flex: 1
            .control-button
                width: 50%
        #playlist
            display: flex
            flex-direction: column
            max-width: 30%
            width: 30%
            border-bottom: 1px solid #e0e0e0
            #playlist-container
                overflow-y: auto
                overflow-x: hidden
                height: 100%

@media screen and (max-width: $playlistBreakpoint) 
    #video-paper
        flex-direction: column
        #video-wrapper
            height: 50%
        #playlist
            height: 40%
            padding: 10% 0 0 0
            max-width: 100% !important
            width: 100% !important